<div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        {{#if success}}
          <p class="text-success success rounded p-2">{{success}}</p>
        {{/if}}
        {{#if error}}
          <p class="text-danger error rounded p-2">{{error}}</p>
        {{/if}}
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">My Profile</h3>
          </div>
          <div class="card-body">
            <form action="/api/users/profile" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="img">Photo:</label>
                {{#if dbUser.img}}
                  <img src="{{dbUser.img}}" class="p-2" width="150px" height="150px" alt="{{dbUser.firstname}}">
                {{else}}
                  <img src="/img/profiles/user.jpg" class="p-2" width="150px" height="150px" alt="User">    
                {{/if}}
                <label class="d-flex">Change Photo:</label> <input type="file" class="form-control" id="img" name="img">
              </div>
              <div class="mb-3">
                <label for="firstname">Firstname:</label>
                <input type="text" class="form-control" id="firstname" name="firstname" value={{dbUser.firstname}}>
              </div>
              <div class="mb-3">
                <label for="lastname">Lastname:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" value={{dbUser.lastname}}>
              </div>
              <div class="mb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value={{dbUser.email}} disabled>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">User Premium: <b>{{#if dbUser.premium}} True {{else}} False {{/if}}</b></label>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">My Documents</h3>
          </div>
          <div class="card-body">
            <div class="documents p-3">
              {{#if dbUser.documents}}
                {{#each dbUser.documents}}
                  <div class="border border-info border-2 rounded p-2 mb-3">
                    <a class="nav-link" href="{{this.reference}}" target="_blank">
                      <h6>{{this.name}}</h6>
                      <img src="{{this.reference}}" width="100px" height="100px" alt="{{this.name}}">
                    </a>
                    <form action="/api/users/profile/deleteDocument/{{this.id}}?_method=DELETE" method="POST" class="text-end">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                    </form>
                  </div>
                {{/each}}
              {{else}}
                <h5 class="text-center">Documents Not Found</h5>
              {{/if}}
            </div>
            <form action="/api/users/profile/uploadDocuments" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="documents">Upload Documents:</label>
                <input type="file" class="form-control" name="documents" multiple required>
              </div>
              <button type="submit" class="btn btn-primary">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
