<!-- Navbar  -->
{{> header}}

<div class="container mt-5">
    <div class="row row-cols-sm-1 row-cols-lg-3 row-cols-xl-4 row-cols-md-2 g-4">
        {{#each object.payload}}
            <div class="col">
                <div class="card" style="width: 18rem; height:30rem; max-width: 690px; padding:25px;">
                    <img height="200px" src="{{this.thumbnail}}" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.description}}</h5>
                        <p class="text-success fs-4">${{this.price}}</p>
                    </div>
                    {{#if ../user.admin}}
                        <form action="/api/products/delete/{{this.id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete Product</button>
                        </form>
                        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalPutProductId{{this.id}}">Edit Product</button>
                    {{else}}
                        {{#if ../user.premium}}
                            <form action="/api/products/delete/{{this.id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Delete Product</button>
                            </form>
                            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modalPutProductId{{this.id}}">Edit Product</button>
                        {{/if}}    
                        <form action="/api/carts/{{../user.cartId}}" method="post" class="mt-3">
                            <input type="hidden" name="product" value="{{this._id}}">
                            <button class="btn btn-success" type="submit"><a class="nav-link"><i class="bi bi-cart3"></i> Add To Cart</a></button>
                        </form>
                    {{/if}}
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalPutProductId{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="products/put/{{this.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Title</label>
                                    <input type="text" class="form-control" name="title" value="{{this.title}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Description</label>
                                    <input type="text" class="form-control" name="description" value="{{this.description}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Code</label>
                                    <input type="text" class="form-control" name="code" value="{{this.code}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Price</label>
                                    <input type="number" class="form-control" name="price" value="{{this.price}}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="status">Status:</label>
                                    <select name="status" id="status">
                                        <option value="true" selected>True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Stock</label>
                                    <input type="number" class="form-control" name="stock" value="{{this.stock}}" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Current Thumbnail:</label>
                                    <div class="text-center">
                                        <img class="pr-5" src="{{this.thumbnail}}" height="150px" width="150px" style="border:1px solid black; border-radius: 10px;"></img>
                                    </div> 
                                    <input type="file" class="form-control mt-2" name="thumbnail" value="{{this.thumbnail}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Category</label>
                                    <input type="text" class="form-control" name="category" value="{{this.category}}" required>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            {{#if object.hasPrevPage}}
                <button type="button" class="btn btn-secondary"><a class="nav-link" href="{{object.prevLink}}">Previous Page</a></button>
            {{else}}
                <button type="button" class="btn btn-secondary" disabled>Previous Page</button>
            {{/if}}

            {{#if object.hasNextPage}}
                <button type="button" class="btn btn-primary"><a class="nav-link" href="{{object.nextLink}}">Next Page</a></button>
            {{else}}
                <button type="button" class="btn btn-primary" disabled>Next Page</button>
            {{/if}}
        </div>
    </div>
</div>
