<div class="container-lg my-5">
    <h4 class="fs-3 text-center text-white">Users</h4>
        {{#if success}}
            <p class="text-success success rounded p-2 fw-semibold">{{success}}</p>
        {{/if}}
        {{#if error}}
            <p class="text-danger error rounded p-2 fw-semibold">{{error}}</p>
        {{/if}}
    <div class="table-responsive">
        <table class="table text-white text-center">
            <thead>
                <tr class="pcolor">
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Premium</th>
                    <th scope="col">Last Connection</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <td scope="row">{{this.firstname}}</td>
                        <td>{{this.lastname}}</td>
                        <td>{{this.email}}</td>
                        <td class="fw-bold">{{this.admin}}</td>
                        <th scope="col">{{this.premium}}</th>
                        <td class="fw-bold">{{this.last_connection}}</td>
                        <td class="fw-bold"><a class="nav-link" href="/api/users/user/{{this._id}}"><i class="bi bi-pencil-square bg-primary rounded p-2"></i></a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>